services:
  mysql:
    platform: linux/amd64
    image: mysql:8.0
    container_name: board-mysql
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - board-network
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    platform: linux/amd64
    image: ghcr.io/0802222/board_r/board-staging:latest
    container_name: board-app
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - board-network
    volumes:
      - ./uploads:/app/uploads

volumes:
  mysql-data:

networks:
  board-network:
    driver: bridge